*{
    margin: 0px;
    padding: 0px;
    position: relative;
}

.mainbox{
    width: 100vw;
    height: 90vh;
    background-image: url(./Picture\ Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.blury-bg{
    background-color: black;
    height: 90vh;
    width: 100vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 80%;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.text h5{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.text h2{
    color: white;
    font-size: 64px;
    font-weight: 700;
}

.text h2 span{
    color: #be19ad;
}

.text p{
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-align: center;
    width: 871px;
}

.landing-signup-btn{
    width: 182px;
    height: 44px;
    background-color: #be19ad;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #be19ad40;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

.landing-signup-btn:hover{
    background-color: black;
    box-shadow: 0px 4px 4px black;
    transform: scale(1.2);
}